markdown:
  # Channels

  There are many Ruby related channels on Libera Chat, this page tries to give an
  overview of the most important ones.

  Here is a list of the channels associated with the Ruby community:

  * #ruby - The place for almost all your Ruby related topics, get tips
    from friendly people or help someone out!
  * #ruby-offtopic - Meet your friends and colleagues in the Ruby community,
    chat about whatever you want and have a good time!
  * #ruby-community - Don't like what you see? Join here if you want to discuss,
    improve and expand this website.

  There are a couple of language- and country-specific ruby channels:

  * #ruby-ru: Russian ruby channel

  \#ruby and the associated channels are not always the best place for
  getting help with a specific Ruby project, here are some channels for
  project specific support:

  * #RubyOnRails - For all your Ruby on Rails needs, whether you just started out or hit some edge case.
  * #jruby - Giving this alternate Ruby implementation a try but having issues? Join this channel.
  * #jekyll - Your Blog doesn't update anymore? Get help!
  * #puppet (Libera) - Bring your machines back under control.
  * #metasploit - Written in Ruby, but these people know to use it.

  An easy way to join us is via Libera Chat's webchat at [web.libera.chat](https://web.libera.chat/#ruby).
  If you're already a Matrix user you can also just join via Libera Chat's
  Matrix bridge at [libera.chat](https://matrix.to/#ruby:libera.chat).

  ---

  Our community formed and grew up in large part on the original Freenode network.
  Libera Chat is in many ways its successor, more so than the new network that is now running under its name.
  If you want to help reviving any of the following communities on Libera Chat and think we can be of any help,
  please feel invited to talk to us! We sometimes might be lacking behind a little in updating this page, feel free
  to check if the following started to exist on Libera Chat.

  Language specific communities that used to exist on the original Freenode network:

  * #ruby-ch - Swiss ruby channel
  * #ruby-de - German ruby channel
  * #ruby-es - Spanish ruby channel
  * #ruby.fr - French ruby channel
  * #ruby.ie - Irelands ruby channel
  * #ruby-it - Italian ruby channel
  * #ruby-ja - Japanese ruby channel
  * #ruby.pl - Polish ruby channel
  * #ruby-tw - Taiwanese ruby channel

  Project specific communities that used to exist on the original Freenode network:

  * #rubygems - Talk to the people delivering all those nice gems to you.
  * #bundler - Your bundle won't install? Check by here.
  * #rvm - Got troubles switching Rubies? This place is for you.
  * #sinatra - The other popular Ruby webframework got its own channel too.
  * #passenger - Running web applications is not always easy, get help here.
  * #chef - Stuck automating your infrastructure? These people got you covered.
