markdown:
  There are many Ruby related channels on Freenode, this page tries to give an
  overview of the most important ones.

  Here is a list of the channels associated with the Ruby community:

  * #ruby - The place for almost all your Ruby related topics, get tips
    from friendly people or help someone out!
  * #ruby-offtopic - Meet your friends and colleagues in the Ruby community,
    chat about whatever you want and have a good time!
  * #ruby-pro - #ruby is too much noise? Join this moderated channel for your
    advanced Ruby topics and discuss them with industry experts.
  * #ruby-community - Don't like what you see? Join here if you want to discuss,
    improve and expand this website.

  \#ruby and the associated channels are not always the best place for
  getting help with a specific Ruby project, here are some channels for
  project specific support:

  * #RubyOnRails - For all your Ruby on Rails needs, whether you just started out
    or hit some edge case.
  * #rubygems - Talk to the people delivering all those nice gems to you.
  * #bundler - Your bundle won't install? Check by here.
  * #rvm - Got troubles switching Rubies? This place is for you.
  * #sinatra - The other popular Ruby webframework got its own channel too.
  * #passenger - Running web applications is not always easy, get help here.
  * #puppet - Bring your machines back under control.
  * #chef - Stuck automating your infrastructure? These people got you covered.
  * #metasploit - Written in Ruby, but these people know to use it.
  * #jruby - Giving this alternate Ruby implementation a try but having issues? Join this channel.
  * #jekyll - Your Blog doesn't update anymore? Get help!
  * #sequel - Share and give tips on using this popular ORM!

  Just started and too many eyes watching? Give ##new2ruby a try.
