markdown:
  There are many Ruby related channels on Libera Chat and Freenode, this page tries to give an
  overview of the most important ones.

  Here is a list of the channels associated with the Ruby community:

  * #ruby (Libera Chat) - The place for almost all your Ruby related topics, get tips
    from friendly people or help someone out!
  * #ruby-offtopic (Libera Chat) - Meet your friends and colleagues in the Ruby community,
    chat about whatever you want and have a good time!
  * #ruby-community (Libera Chat) - Don't like what you see? Join here if you want to discuss,
    improve and expand this website.

  There are a couple of language- and country-specific ruby channels:

  * #ruby-ch (Freenode): Swiss ruby channel
  * #ruby-de (Libera Chat, Freenode): German ruby channel
  * #ruby-es (Freenode): Spanish ruby channel
  * #ruby.fr (Freenode): French ruby channel
  * #ruby.ie (Freenode): Irelands ruby channel
  * #ruby-it (Freenode): Italian ruby channel
  * #ruby-ja (Freenode): Japanese ruby channel
  * #ruby.pl (Freenode): Polish ruby channel
  * #ruby-ru (Libera Chat, Freenode): Russian ruby channel
  * #ruby-tw (Freenode): Taiwanese ruby channel

  \#ruby and the associated channels are not always the best place for
  getting help with a specific Ruby project, here are some channels for
  project specific support:

  * #RubyOnRails (Libera Chat) - For all your Ruby on Rails needs, whether you just started out
    or hit some edge case.
  * #rubygems (Freenode) - Talk to the people delivering all those nice gems to you.
  * #bundler (Freenode) - Your bundle won't install? Check by here.
  * #rvm (Freenode) - Got troubles switching Rubies? This place is for you.
  * #sinatra (Freenode) - The other popular Ruby webframework got its own channel too.
  * #passenger (Freenode) - Running web applications is not always easy, get help here.
  * #puppet (Libera) - Bring your machines back under control.
  * #chef (Freenode) - Stuck automating your infrastructure? These people got you covered.
  * #metasploit (Libera Chat, Freenode) - Written in Ruby, but these people know to use it.
  * #jruby (Libera Chat) - Giving this alternate Ruby implementation a try but having issues? Join this channel.
  * #jekyll (Libera Chat, Freenode) - Your Blog doesn't update anymore? Get help!
