- breadcrumb "Contributors" => page_path("contributors")

markdown:
  Contributors
  ============

  In alphabetical order:

  * [adaedra](https://github.com/adaedra)
  * [apeiros](https://github.com/apeiros)
  * [atmosx](https://github.com/atmosx)
  * [baweaver](https://github.com/baweaver)
  * [havenwood](https://github.com/havenwood)
  * [jhass](https://github.com/jhass)
  * [jheg](https://github.com/jheg)
  * [ktzsid10](https://github.com/ktzsid10)
  * [mstudov](https://github.com/mstudov)
  * [sevenseacat](https://github.com/sevenseacat)
  * [SkyBirdSoar](https://github.com/SkyBirdSoar)
  * [workmad3](https://github.com/workmad3)
  * [zotherstupidguy](https://github.com/zotherstupidguy)
