- breadcrumb "Contribute" => page_path("contribute")

markdown:
  Contribute
  ==========

  We are happy about everybody who helps contributing.
  The following should help you and us with your contribution:

  * Please follow the [Code of Conduct](#{page_path('code_of_conduct')}).
  * Note that by contributing, you accept that all of your contributed code is published under the
    [BSD 2-Clause License](http://en.wikipedia.org/wiki/BSD_licenses#2-clause_license_.28.22Simplified_BSD_License.22_or_.22FreeBSD_License.22.29),
    and all media files under [CC0](http://en.wikipedia.org/wiki/Creative_Commons_license#Zero_.2F_public_domain)
    license.
  * We are located in IRC on freenode.net in the [#ruby-community](irc://irc.freenode.net/#ruby-community) channel.
  * You can find a [list of core contributors here](#{page_path('contributors')}).
  * Fork the repository on [https://github.com/apeiros/ruby-community](https://github.com/apeiros/ruby-community)
  * Provide your contributions as [Pull Requests](https://help.github.com/articles/using-pull-requests/)
  * We use bootstrap, sass and slim
  * The file suffixes are .yaml, .markdown and .html.slim

  You can work on anything you think should be added, changed or removed from the site.  
  If you prefer to work on an already specified task, then here's a list of things you can do:

  * Strip down the amount of overhead introduced through the iDea template. We don't use most of the
    things it brings and the site is unnecessary heavy because of that.
  * Add a step-by-step guide on how to contribute to this website.
  * Peer review the [channel rules](#{page_path('user_rules')}) and give feedback in
    [#ruby-community](irc://irc.freenode.net/#ruby-community).
    All positive feedback is also very valuable, as it gives us a sense to weigh negative feedback.
  * Create a proper front site for this website.
  * Make the footer of this website fixed to the bottom

