- breadcrumb "Contributors" => page_path("contributors")

markdown:
  Contributors
  ============

  In alphabetical order:

  * [apeiros](https://github.com/apeiros)
  * [atmosx](https://github.com/atmosx)
  * [c-c](https://github.com/csmr)
  * [jhass](https://github.com/jhass)
  * [jheg](https://github.com/jheg)
  * [miah](https://github.com/miah)
  * [mikecmpbll](https://github.com/mikecmpbll)
  * [workmad3](https://github.com/workmad3)
