- breadcrumb "IRC Rules" => page_path("user_rules")

markdown:
  Channel Rules
  =============

  ### 1. What you can expect from the channel

  1. We are a polite and inclusive channel. Everybody is welcome.
  1. We will try to help you with your question.
  1. Note that helping you with your problem, does not mean we will solve it for you.  
     We will try to help you overcome misunderstandings, pick the best from a selection of
     solutions, improve your code, look at the right place in the documentation.
  1. We won't provide help for code you can't disclose, or private help in a query. That's
     consulting. If you need that, hire and pay a consultant.
  1. If you run into troubles with another channel guest, our
     [operators](#{page_path("irc_staff".freeze)}) (short: ops) will help to resolve the issue.
  1. If you caused trouble and consequently got removed from the channel, you will get informed
     about the reason and duration of the ban.


  ### 2. What the channel expects from you

  1. Be polite, considerate and inclusive. Treat others with respect.
  1. Before you ask a question, make sure you did your due diligence.  
     You can find method documentation at [ruby-doc.org](http://ruby-doc.org).  
     You can test code snippets using the command line tool irb (or [pry](http://pryrepl.org/)).  
     We trust you know how to use google. If you googled and didn't find anything, tell us which
     terms you googled.
  1. When you ask a question, make it evident that you put in some effort of your own prior to
     asking. This goes a long way to get good will and through that, better help.
  1. When you ask a question about a bug you experience, make sure you put the following information
      on [gist](https://gist.github.com): your code, your input, the output you expect, the output
      you actually get. If you get an exception, also put up the full backtrace.
  1. When you ask a question about how to do X, tell us why you want to do X. Also show (via
     [gist](https://gist.github.com)) us your current approach.
  1. After asking your question, be patient. It may take a while for somebody to pick it up. If you
     don't get an answer for a long time, consider whether you provided all information necessary to
     help you.
  1. Do not hightlight specific users you're not having a discussion with without prior consent.
     Any active user who has the ability and is willing to help with your question will do so
     without your highlight.
  1. If you post the question in other places, inform the channel up front about that. Say clearly
     in which other places you are also looking for help.
  1. You can always send a private message regarding operative topics to an
     [operator](#{page_path("irc_staff".freeze, anchor: "operators".freeze)}), in all other cases it
     is advisable to ask the person for permission before sending a private message.
  1. If you behave rudely, or otherwise disturb the channel, an operator may kick you as a warning,
     or even ban you from the channel.  
     Offensive behavior include but are not limited to (in no particular order):
    * Name-calling
    * Ad-hominem attacks
    * Sexually or racially charged slurring
    * Spamming (that includes abusing the channel bot's eval function)
    * Derogatory comments
    * Trolling
    * Excessive off-topic talk while Ruby related topics are discussed
  1. If you're offended by somebody's behavior, remain civil. Tell them what and why you did not
     like about their behavior.
  1. If you can't resolve your problem with another channel member, either add that person to your
     irc client's ignore, or ask for help. But under no circumstances become rude or offensive.


  ### 3. What to do when you get kicked or banned

  1. If you get kicked but not banned, then you can join again immediately. Consider it as a
     warning.  
     Sadly experience shows that most people don't take an operator's warning serious unless the
     warning gets additional weight through a kick.
  1. Arguments in the channel about whether being kicked was appropriate are not welcome. If you
     want to discuss the circumstances of a kick or a ban, talk to the
     [operator](#{page_path("irc_staff".freeze)}) in their query. If you are not satisfied by the
     result, contact another [operator](#{page_path("irc_staff".freeze)}).  
     Be aware that your exchange with the operator is logged and your behavior towards the operator
     is also considered when evaluating any inquiries from your part.
  1. If you get banned, you are also informed about the duration of the ban.

  Revision: 3 (2015-03-27)
