#page_pages__show__user_rules
  ol.rules
    a.anchor
      float: right
      color: #ccc
      margin-left: 5px
      &:hover, &:active, &:focus
        color: black
        text-decoration: none
    li:target
      background-color: lighten(#cd3c2e, 30)
      padding: 3px 0 3px 5px
      color: black
      a.anchor
        color: black

#page_pages__show__public_logs,
#page_private_pages__show__logs
  #irc_log
    width: 100%

    td
      vertical-align: top
    td:first-child
      padding-right: 0.5em
    td:nth-child(2)
      padding-right: 0.5em

.ban-entry-divider:not(:last-child)
  border-bottom: 1px dotted #e3e3e3
  margin: 5px 0
